<section class="get-started-section">
  <div class="get-started-section-wrapper wrapper">
    <h2>Boost your links today</h2>
    <button class="get-started-button button">Get Started</button>
  </div>
</section>

<style>
  .get-started-section {
    background-color: var(--d-violet);
    width: 100%;
    padding-block: 4rem;

    background-image: url('/bg-boost-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .get-started-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .get-started-section-wrapper h2 {
    color: var(--white);
    line-height: .6;
    font-size: 2.2rem;
  }
</style>