---
import Image from "astro/components/Image.astro"
---

<section class="hero-section wrapper">
  <article class="hero-article">
    <h1>More than just shorter links</h1>
    <p>
      Build your brand’s recognition and get detailed insights 
      on how your links are performing.
    </p>
    <button class="get-started-button button">Get Started</button>
  </article>
  <picture class="hero-picture">
    <Image
      src="/illustration-working.svg"
      alt="Woman working sitting on a desktop"
      width="733"
      height="482"
    />
  </picture>
</section>

<style>
  .hero-section {
    margin-top: 5.5rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  .hero-article {
    max-width: 35rem;
    text-wrap: balance;
  }

  .hero-article h1 {
    font-size: 4.4rem;
    font-weight: 800;
  }

  .hero-picture {
    --picture-width: 783px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    min-width: 450px;
    height: 482px;
  }

  .hero-picture img {
    position: absolute;
    width: var(--picture-width);
    height: auto;
    aspect-ratio: 733/482;
  }

  @media (width <= 968px) {
    .hero-section {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  @media (width <= 640px) {
    .hero-section { margin-top: 1rem; gap: 1.5rem; }

    .hero-article > * { font-size: 1rem }

    .hero-article h1 {
      font-size: 2.2rem;
      margin-bottom: .5rem
    }

    .hero-picture {
      --picture-width: 503px;

      min-width: 380px;
      height: 360px;
    }
  }

  @media (width <= 400px) {
    .hero-picture {
      min-width: 100%;
    }
  }
</style>